.no-padding {
  padding: 0;
}
.main .container {
  margin-top: 20px;
}
.main .container .tab-pane {
  padding: 20px;
}
.main .container .generos .table-container {
  padding: 0;
  max-height: 470px;
  overflow: auto;
}
.main .container .filmes h3 + div div:first-child {
  margin-top: 15px;
}
.main .container .filmes div.movie-name {
  padding: 0;
}
.main .container .filmes div.genres {
  padding-right: 0;
}
.main .container .filmes .well {
  max-height: 470px;
  overflow: auto;
}
.main .container .filmes .well #tableFilmes tbody tr td {
  vertical-align: inherit;
}
.main .container .filmes .well #tableFilmes tbody tr td label {
  width: 100%;
  margin-bottom: 0;
}
